#img {

    border-radius: 50%;
    width:80px;
    height:80px;

}
#filtertitle {
    border-radius: 7px;
    font-color: rgb(34, 197, 247);
    font-weight: bold;
    background-color: rgb(245, 245, 245);
    border: 1px solid #6c7a89;
    padding: 0;
    width: 160px;
    height: 200px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    vertical-align:middle;


}

.filterhead {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(51,122,183);
    height: 30px;
    line-height: 30px;
    vertical-align:middle;
    text-align: center;
    padding: 0;
    color: white}
.lines{

    text-align:center;
    padding:  5px 0 5px 0;
}
.dropdownlist{
    border-radius: 5px;
    horiz-align: center;
    font-weight: normal;
    width: 130px;
    height: 25px;
    font-size: small;

}
.buttondiv {

    display: flex;
    align-items: center;
    justify-content: center;
}

.button{

    background-color: white;
    color: rgb(14,197,222);
    border: 2px solid rgb(14,197,222);
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0 5px 0;
}
