#img {
    border-radius: 50%;
    padding: 0;

}

.disipline-box-inline-first {
    border-radius: 15px 0 0 0;
    margin: 0 0 15px 0;
    background-color: #FBFBFB;
    color:#7E7E7E;
    box-shadow: 2px 4px 2px 0  #E0E0E0 ;
    width: 100%;
    padding-bottom: 3px;

}

.disipline-box-inline {

    margin: 0 0 15px 0;
    background-color: #FBFBFB;
    color:#7E7E7E;
    box-shadow: 2px 4px 2px 0  #E0E0E0 ;
    width: 100%;
    padding-bottom: 3px;

}

#skilldiv{

    alignment: left;float: left;
    color: #40C1DE;
}
.grades{

    background-color: #fab06a;
    color: black;
    border-radius: 6px ;
    padding-left: 5px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    margin-top:  6px;
    margin-left: 6px;
    margin-right: 14px;
    margin-bottom: 5px;

    opacity:1;
}

.disipline_box{padding-left: 0;}
.clear-line{clear: both}
.lines-tags{padding: 0;}
#title {
    border-radius: 7px;
    font-color:rgb(34,197,247);
    font-weight:bold;
    background-color: rgb(245,245,245);
    border: 1px solid #6c7a89;
    padding: 20px;
    width: 260px;
    height: 170px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);



}

.skill_category_name{

    font-size: 22px;
    font-weight:bold;
    color: #ffffff;
    padding: 5px ;
}


.count_skill_cat {
     font-size: 11px;padding:  5px;color: #ffffff;float: right;
 }

.skill_name {
    font-size: 14px;padding:  5px;color: #ffffff; margin-left: 10px;
}
.discipline-boxes{padding: 3px 5px 3px 5px;text-align: center;font-size: 12px;float: left;margin: 20px 3px 0 0;color: #ffffff;}

a.active-edu {
    border-bottom:solid 3px #fe9f2e;
}


.form-auth{margin: 5px 0 5px 5px}


.requestjoin {
    background: #22c5f7;
    float: right;
    padding:0 0 0 10px;
    position: absolute;
    z-index: 999;
    right: 25px;
    top: 10px;
    width: 35px;
    height: 25px;
    border-radius: 20px;
}
.requestjoin.text-requested {
    background: #fda333;
    padding:2px 0 0 10px;
}

.requestjoin.text-approve {
    background: #06B806;
    padding:2px 0 0 10px;
}

.requestjoin.text-decline {
    background: #d6444b;
    padding:2px 0 0 10px;

}

.text-requestjoin span {
    top: -7px;
    position: relative;
    font-size: 9px;
    text-transform: uppercase;
}
.one-long-line a {
    float: right;
    white-space:nowrap;
    overflow:hidden;

}

.showgrade {
    font-size: 12px;padding: 0 3px;color: #000000;;
    background-color: #bdbdbd;
    border-radius: 8px;



}

.one-long-line a:hover {

    width: 125px !important;
    color: #fff !important;
}

a.discipline_link { color: #ffffff; text-decoration: none;font-size:18px;}
a.discipline_link:link		{ color: #ffffff; text-decoration: none;font-size:18px ;}
a.discipline_link:visited	{ color: #ffffff; text-decoration: none;font-size:18px ;}
a.discipline_link:active	{ color: #ffffff; text-decoration: none;font-size:18px ;}
a.discipline_link:hover		{ color: #c42027; text-decoration: none;font-size:18px ;}

.selectgroup{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.groupby{
    float: right ;padding-right: 15px;
}